services:
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./html:/usr/share/nginx/html

  alpine:
    image: alpine:3.19
    command: sh -c "sleep 999999"
